<link rel="stylesheet" type="text/css" href="styles.css">

<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
  
  <h1>Your Documents</h1>

  <%= form_with url: upload_documents_path, local: true, html: { id: 'upload-button' } do |form| %>
    <%= form.file_field :file, onchange: 'document.getElementById("upload-button").submit();', class: 'button' %>
  <% end %>

  <% if @documents.empty? %>
    <p>No documents found.</p>
  <% else %>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Download</th>
          <th>Destroy</th>
        </tr>
      </thead>
      <tbody>
        <% @documents.each do |document| %>
          <tr>
            <td><%= document.id %></td>
            <td><%= document.name %></td>
            <td>
                <%= link_to 'Download', download_document_path(document), class: 'button' %>
            </td>
            <td>
              <%= button_to 'Delete', document_path(document), method: :delete, class: 'button', onclick: "return confirm('Are you sure?')" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
